<p>feedback works!</p>
<!-- <div class="feedback">
    <p>Feedback form<br></p>
     
    <h4>Please rate your experience</h4>
     
    <form method="post" action="#action-url">
    <label>1.Was the lecturer knowledgable ?</label><br>
      
    <span class="star-rating">
      <input type="radio" name="rating1" value="1"><i></i>
      <input type="radio" name="rating1" value="2"><i></i>
      <input type="radio" name="rating1" value="3"><i></i>
      <input type="radio" name="rating1" value="4"><i></i>
      <input type="radio" name="rating1" value="5"><i></i>
    </span>
     
      <div class="clear"></div> 
      <hr class="survey-hr">
    <label>2.Were your questions and concerns are getting solved in a timely manner ?</label><br>
    <span class="star-rating">
      <input type="radio" name="rating2" value="1"><i></i>
      <input type="radio" name="rating2" value="2"><i></i>
      <input type="radio" name="rating2" value="3"><i></i>
      <input type="radio" name="rating2" value="4"><i></i>
      <input type="radio" name="rating2" value="5"><i></i>
    </span>
     
     
      <div class="clear"></div> 
      <hr class="survey-hr">
    	<label>3. Did the lecturer met your expectations ?</label><br/>
       <span class="star-rating">
      <input type="radio" name="rating2" value="1"><i></i>
      <input type="radio" name="rating2" value="2"><i></i>
      <input type="radio" name="rating2" value="3"><i></i>
      <input type="radio" name="rating2" value="4"><i></i>
      <input type="radio" name="rating2" value="5"><i></i>
    </span>
    
     <div class="clear"></div> 
      <hr class="survey-hr">
    	<label>4. Did the lecturer provide useful resources and materials ?</label><br/>
       <span class="star-rating">
      <input type="radio" name="rating2" value="1"><i></i>
      <input type="radio" name="rating2" value="2"><i></i>
      <input type="radio" name="rating2" value="3"><i></i>
      <input type="radio" name="rating2" value="4"><i></i>
      <input type="radio" name="rating2" value="5"><i></i>
    </span>
    
    <div class="clear"></div> 
  <hr class="survey-hr"> 
<label>5. Any Other suggestions:</label><br/><br/>
<textarea cols="75" name="commentText" rows="5" ></textarea><br>
<br>
 
<button type="submit" class="btn btn-primary" style="align-items:center;">Submit</button> -->
