 
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team3.jpg" alt="CEO" style="width:100%">
        <div class="container">
          <h2>Founders</h2>
          <p class="title">CEO & Founder</p>
          <p>Smile University Vidyapeet is a voluntary social action group working for empowerment of women and girls. Registered under the Indian Societies Registration Act, It is a not-for-profit organization working in the field of education since 1952.</p>
          <p><b>john@gmail.com</b></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Faculty</h2>
          <p class="title">Professor</p>
          <p>The selection of faculty members is made every year by the selection committee through an open advertisement in the leading newspapers. The College encourages the faculty members to pursue higher studies and research by extending special facilities.</p>
          <p><b>winston@gmail.com</b></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team1.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Academic Activites</h2>
          <p class="title">Counsellor</p>
          <p>Students can acquire new skills, new friends, career ideas, and travel opportunities by participating in academic activities.The College has been in the forefront in organizing various short-term courses, conferences, symposia, workshops, seminars, special lecturers.</p>
          <p><b>jenny@gmail.com</b></p>
        </div>
      </div>
    </div>
  </div>