<div
  class=""
  style="
    background-image: url(/assets/images/studentbg.jpg);
    background-size: cover;
    min-height: 80vh;
  "
>
  <!-- Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #2d2a2a"
  >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/student">Student</a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Link -->
          <li class="nav-item">
            <a class="nav-link" routerLink="./timetable" name="timetable"
              >Timetable</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./feedback" name="feedback"
              >Feedback</a
            >
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/logout" name="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
