<div class="col-md-6">
    <h2 class="text-center">Add Student</h2>
    <form>
      <div class="form-group">
        <label for="name">FirstName:</label>
        <input [(ngModel)]="model.firstName" placeholder="FirstName" name="firstName" class="form-control" id="firstName">
      </div><br/>
    
       <div class="form-group">
        <label for="lastname">LastName:</label>
        <input [(ngModel)]="model.lastName" placeholder="LastName" name="lastName" class="form-control" id="lastName">
      </div><br/>
    
      
      <div class="form-group">
        <label for="id">ID:</label>
        <input [(ngModel)]="model.id" placeholder="ID" name="id" class="form-control" id="id">
      </div><br/>

      <div class="form-group">
        <label>Gender:</label> 
        <p>&ensp;</p>
        <label class="radio-inline">
            <input type="radio" name="optradio" value='Male' [(ngModel)]="model.gender" >Male
        </label>&nbsp;
        <label class="radio-inline">
            <input type="radio" name="optradio" value='Female' [(ngModel)]="model.gender" >Female
        </label>
      </div><br/>

      <div class="form-group">
        <label for="dob">DOB:</label>
        <input [(ngModel)]="model.dob" placeholder="DOB" type="date" name="dob" class="form-control" id="dob">
      </div><br/>

      <div class="form-group">
        <label for="phno">Ph.No:</label>
        <input [(ngModel)]="model.phno" placeholder="Ph.No" name="phno" class="form-control" id="ph.No">
      </div><br/>

      <div class="form-group">
        <label for="Email">Email:</label>
        <input [(ngModel)]="model.email" placeholder="Email" name="email" class="form-control" id="email">
      </div><br/>

      <div class="form-group">
        <label for="branch">Branch:</label>
        <input [(ngModel)]="model.branch" placeholder="Branch" name="branch" class="form-control" id="branch">
      </div><br/>

      <div class="form-group">
        <label for="courses">Courses:</label>
        <input [(ngModel)]="model.course" placeholder="Courses" name="course" class="form-control" id="courses">
      </div><br/>

      <div class="form-group">
        <label for="batch">Batch:</label>
        <input [(ngModel)]="model.batch" placeholder="Batch" name="batch" class="form-control" id="batch">
      </div><br/>

      <button class="btn btn-success" (click)="createStudent()">Create</button>
    </form>
    </div>
