<div class="">
  <div style="padding: 1rem">
    <!-- Photo panel  -->
    <div class="d-flex">
      <div class="card p-4">
        <h3 class="card-title">
          Develop a passion for learning. If you do you'll cease to grow.
        </h3>
        <p class="card-body" style="font-size: larger">
          Our mission to educate future leaders is woven throughout the Smile
          University experience, inspiring every member of our community to
          strive toward a more just, fair, and promising world. Beginning in the
          classroom with exposure to new ideas, new ways of understanding, and
          new ways of knowing, students embark on a journey of intellectual
          transformation.
        </p>
        <button
          class="btn btn-primary"
          style="max-width: 30%; margin-left: auto"
        >
          Learn More
        </button>
      </div>
      <!-- Image -->
      <img
        alt="uni"
        class="rounded p-3 image-fluid"
        style="width: 40%"
        src="/assets/images/uni.jpg"
      />
    </div>
    <h2 class="mt-5">Our Values</h2>
    <!-- 3 column grid -->
    <div class="row py-2">
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img1.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Excellence</h5>
            <p class="card-text">
              Students who come from different walks of life and have evolving
              identities, intellectual transformation is deepened and conditions
              for social transformation are created.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img2.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Brilliance</h5>
            <p class="card-text">
              Hope that students will begin to fashion their lives by talents,
              assessing their values and interests, and learning how they can
              best serve the world.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img3.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Entrepreneurship</h5>
            <p class="card-text">
              Committed to creating and sustaining the conditions that enable
              all Smile University students to experience an unparalleled
              journey that is personally transformative.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
