<div class="">
  <div style="padding: 1rem">
    <!-- Photo panel  -->
    <div class="d-flex">
      <div class="card p-4">
        <h3 class="card-title">
          Develop a passion for learning. If you do you'll cease to grow.
        </h3>
        <p class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptates, quod, quia, voluptate quae voluptatem quibusdam
          necessitatibus quidem voluptatum quos quas. Quisquam, quae. Quisquam
          voluptates, quod, quia, voluptate quae voluptatem quibusdam
          necessitatibus quidem voluptatum quos quas. Quisquam, quae.
        </p>
        <button class="btn btn-primary">Learn More</button>
      </div>
      <!-- Image -->
      <img
        alt="uni"
        class="rounded p-3 image-fluid"
        style="width: 40%"
        src="/assets/images/uni.jpg"
      />
    </div>
    <h2 class="mt-5">Our Values</h2>
    <!-- 3 column grid -->
    <div class="row py-2">
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img1.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Excellence</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img2.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Brilliance</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/assets/images/img3.jpg"
            class="card-img-top"
            style="aspect-ratio: 4/3"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Entrepreneurship</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
