<div class="bgImage" style="min-height: 80vh">
  <div class="container w-50">
    <div class="py-4"></div>
    <div class="card p-4 shadow bg-body">
      <h2 class="text-center">User Login</h2>
      <form class="" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="model.email"
          /><br />
        </div>
        <!-- Password  -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            [(ngModel)]="model.password"
            name="password"
            placeholder="Password"
            class="form-control"
            required
            #password="ngModel"
          />
          <div
            *ngIf="
              password.invalid && (loginForm.submitted || password.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="!password.dirty">Password is required.</div>
          </div>
        </div>
        <br />
        <!--Role-->
        <div class="form-group">
          <label>Role</label>
          <p>&ensp;</p>
          <label class="radio-inline">
            <input
              type="radio"
              name="optradio"
              value="Admin"
              [(ngModel)]="model.role"
            />
            Admin </label
          >&nbsp;
          <label class="radio-inline">
            <input
              type="radio"
              name="optradio"
              value="Staff"
              [(ngModel)]="model.role"
            />
            Staff </label
          >&nbsp;
          <label class="radio-inline">
            <input
              type="radio"
              name="optradio"
              value="Student"
              [(ngModel)]="model.role"
            />
            Student
          </label>
        </div>
        <br />
        <input
          class="btn btn-primary"
          type="submit"
          value="Submit"
          [disabled]="!loginForm.form.valid"
        />
      </form>
    </div>
  </div>
</div>
