<p>fees works!</p>
<!-- <div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
              <h3>Fee Details</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Student ID:</strong>18B01A0524</p>
              <p class="mb-0"><strong class="pr-1">Semester:</strong>1-2</p>
              <p class="mb-0"><strong class="pr-1">Year:</strong>2018</p>
              <p class="mb-0"><strong class="pr-1">Course:</strong>BTech</p>
              <p class="mb-0"><strong class="pr-1">Branch:</strong>CSE</p>
              <p class="mb-0"><strong class="pr-1">Fee Due:</strong>..</p>
              <p class="mb-0"><strong class="pr-1">Fee Paid:</strong>..</p>
            </div>
          </div>
        </div> -->