<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#2d2a2a;">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="">Student</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!-- Link -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/timetable" name="child1">Time Table</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/feedback" name="child3">Feed Back</a>
          </li>
          </ul>
      </div>

      <div class="d-flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/logout" name="logout">Log out</a>
              </li>
          </ul>   
      </div>
  </div>
</nav>
<!-- Student details-->
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
              <h3>student_name</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Student ID: </strong>student_id</p>
              <p class="mb-0"><strong class="pr-1">Course: </strong>student_course</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>student_email</td>
                </tr>
                <tr>
                  <th width="30%">Phone	</th>
                  <td width="2%">:</td>
                  <td>student_phno</td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>student_gender</td>
                </tr>
                
                <tr>
                  <th width="30%">DOB</th>
                  <td width="2%">:</td>
                  <td>student_dob</td>
                </tr>

              </table>
            </div>
          </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">     
            </div>
              <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
            </div>
            <div class="card-body pt-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
